
noscript p {
  margin: 0 0 1% 0;
  padding: 1% 0;
  text-align: center;
  font-size: 2em;
  font-weight: bold;
  color: #e55b5b;
  background: #f1dfdf;
  border-radius: 3px;
  box-shadow: 0 0 6px 0 #faebeb;
}